/..svnbridge/
/.hg/
/.hgignore
/.hgtags
/Helpers/..svnbridge/.svnbridge
/Helpers/..svnbridge/Helpers.aps
/Helpers/..svnbridge/Helpers.rc
/ShortcutsManager/..svnbridge/.svnbridge
/SystemTrayHook/..svnbridge/.svnbridge
/SystemTrayHook/..svnbridge/SystemTrayHook.aps
/SystemTrayHook/..svnbridge/SystemTrayHook.rc
/TileLayout/..svnbridge/.svnbridge
/Windawesome/..svnbridge/.svnbridge
/WindowSubclassing/..svnbridge/.svnbridge
/WindowSubclassing/..svnbridge/WindowSubclassing.aps
/WindowSubclassing/..svnbridge/WindowSubclassing.rc
/WindowSubclassingCSharp/..svnbridge/.svnbridge
/lib/..svnbridge/.svnbridge
/bin/x64/Debug
/GlobalShellHook/bin/x64/Debug
/Helpers/bin/x64/Debug
/packages
/ShortcutsManager/obj/x64/Debug
/SystemTrayHook/bin/x64/Debug
/TileLayout/obj/x64/Debug
/Windawesome/obj/x64/Debug
/WindowSubclassing/bin/x64/Debug
/WindowSubclassingCSharp/obj/x64/Debug
*.opensdf
*.sdf
*.suo
/bin/x64/Release
/GlobalShellHook/bin/x64/Release
/Helpers/bin/x64/Release
/ShortcutsManager/obj/x64/Release
/SystemTrayHook/bin/x64/Release
/TileLayout/obj/x64/Release
/Windawesome/obj/x64/Release
/WindowSubclassing/bin/x64/Release
/WindowSubclassingCSharp/obj/x64/Release
