/..svnbridge/
/.hg/
/.hgignore
/.hgtags
/Helpers/..svnbridge/.svnbridge
/Helpers/..svnbridge/Helpers.aps
/Helpers/..svnbridge/Helpers.rc
/ShortcutsManager/..svnbridge/.svnbridge
/SystemTrayHook/..svnbridge/.svnbridge
/SystemTrayHook/..svnbridge/SystemTrayHook.aps
/SystemTrayHook/..svnbridge/SystemTrayHook.rc
/TileLayout/..svnbridge/.svnbridge
/Windawesome/..svnbridge/.svnbridge
/WindowSubclassing/..svnbridge/.svnbridge
/WindowSubclassing/..svnbridge/WindowSubclassing.aps
/WindowSubclassing/..svnbridge/WindowSubclassing.rc
/WindowSubclassingCSharp/..svnbridge/.svnbridge
/lib/..svnbridge/.svnbridge
/bin/x64/Debug
/GlobalShellHook/bin/x64/Debug
/Helpers/bin/x64/Debug
/packages
/ShortcutsManager/obj/x64/Debug
/SystemTrayHook/bin/x64/Debug
/TileLayout/obj/x64/Debug
/Windawesome/obj/x64/Debug
/WindowSubclassing/bin/x64/Debug
/WindowSubclassingCSharp/obj/x64/Debug
*.opensdf
*.sdf
*.suo
/bin/x64/Release
/GlobalShellHook/bin/x64/Release
/Helpers/bin/x64/Release
/ShortcutsManager/obj/x64/Release
/SystemTrayHook/bin/x64/Release
/TileLayout/obj/x64/Release
/Windawesome/obj/x64/Release
/WindowSubclassing/bin/x64/Release
/WindowSubclassingCSharp/obj/x64/Release
/Layouts/TileLayout/obj/x64/Debug
/Layouts/TileLayout/obj/x64/Release
/Native/GlobalShellHook/bin/x64/Debug
/Native/GlobalShellHook/bin/x64/Release
/Native/Helpers/bin/x64
/Native/SystemTrayHook/bin/x64
/Native/WindowSubclassing/bin/x64
/Plugins/ShortcutsManager/obj/x64
/Plugins/WindowSubclassingCSharp/obj/x64
/Layouts/FloatingLayout/obj
/Layouts/FullScreenLayout/obj
/bin/x86
/Plugins/InputLanguageChangerPlugin/obj
/Plugins/LoggerPlugin/obj
/Plugins/ShortcutsManager/obj/x86
/Layouts/TileLayout/obj/x86
/Plugins/WindowSubclassingCSharp/obj/x86
/Windawesome/obj/x86
/WindawesomeIrb/obj
/Windawesome/Windawesome.csproj.user
/Native/GlobalShellHook/bin/Win32/Debug
/Native/Helpers/bin/Win32/Debug
/Native/SystemTrayHook/bin/Win32/Debug
/ipch/systemtrayhook-a9fd6335
/Native/WindowSubclassing/bin/Win32/Debug
/Native/GlobalShellHook/bin/Win32/Release
/Native/Helpers/bin/Win32/Release
/Native/SystemTrayHook/bin/Win32/Release
/Native/WindowSubclassing/bin/Win32/Release/WindowSu.67670ECC.tlog
/Native/WindowSubclassing/bin/Win32/Release
*.ipch
