/..svnbridge/
/.hg/
/.hgignore
/.hgtags
/Helpers/..svnbridge/.svnbridge
/Helpers/..svnbridge/Helpers.aps
/Helpers/..svnbridge/Helpers.rc
/ShortcutsManager/..svnbridge/.svnbridge
/SystemTrayHook/..svnbridge/.svnbridge
/SystemTrayHook/..svnbridge/SystemTrayHook.aps
/SystemTrayHook/..svnbridge/SystemTrayHook.rc
/TileLayout/..svnbridge/.svnbridge
/Windawesome/..svnbridge/.svnbridge
/WindowSubclassing/..svnbridge/.svnbridge
/WindowSubclassing/..svnbridge/WindowSubclassing.aps
/WindowSubclassing/..svnbridge/WindowSubclassing.rc
/WindowSubclassingCSharp/..svnbridge/.svnbridge
/lib/..svnbridge/.svnbridge
